*{
    margin: 0;
    padding: 0;
}
.first{
    background: #5898cc;
}
.second{
    background: #de9102;
}
.photo{
    margin: 8px;
    display: flex;
    justify-content: center;
}
.img{
    border-radius: 10%;
}
.info{
    display: flex;
    flex: 1;
    justify-content: center;
    flex-wrap: wrap;
}
.name{
    color: #bcbf0d;
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 3px;
    font-family: Brush Script Std, cursive;
}
.rest-info{
    display: flex;
    justify-content: center;
    flex: 1;
    text-align: center;
    padding: 5px;
    color: #bcbf0d;
    font-size: 16pt;
    margin: 0;
    font-family: Brush Script Std, cursive;
}
.first-button{
    background: none;
    border: 3px solid #070311;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    height: 50px;
    width: 150px;
    color: #070311;
    font-size: 12pt;
    margin: 5px;
}
.first-button:hover{
    transition-duration: 0.3s;
    background-color: #bcbf0d;
    border: 3px solid #bcbf0d;
    color: white;
}
.buttons{
    padding: 5px;
    display: flex;
    justify-content: center;
}
.pocke-name{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
    font-size: 30pt;
    color: #fc2b7b;
    font-family: Brush Script Std, cursive;
}
.header{
    color: #3c0123;
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: Brush Script Std, cursive;
}
.div{
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    border: 2px solid #2bddfc;
    border-radius: 15px;
    margin: 10px auto;
    padding: 5px;
}
.ability{
    display: flex;
    justify-content: center;
    color: #2bfc82;
    margin: 5px;
    font-weight: bold;
    font-size: 14pt;
    font-family: Brush Script Std, cursive;
}
.description{
    margin: 0;
    text-align: center;
    color: #26013c;
    font-family: Brush Script Std, cursive;
}
.second-button{
    background: none;
    border: 3px solid #0c013c;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    height: 50px;
    width: 150px;
    color: #0c013c;
    font-size: 12pt;
    margin: 5px;
}
.second-button:hover{
    transition-duration: 0.3s;
    background-color: #6a2bfc;
    border: 3px solid #6a2bfc;
    color: white;
}